:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.json-dive-viewer-instance {
	--json-dive-color-badge-background: oklch(
		0.902 0.063 306.703
	); /* purple-200 */
}
